---
layout: layouts/home.njk
eleventyNavigation:
  key: Featured
  order: 2
---
{% include 'toggle.njk'%}
{% include 'randomfeatured.njk'%}
{% include 'paginate.njk'%}

<div class="row resultcontainer">
{% for result in matterport %}
{% if (result.visible === true) %}
{% for f in featured %}
{% if f === result.id %}
<div class="result col-xs-12 col-sm-6 col-md-4 col-lg-3">
<a href="https://my.matterport.com/show/?m={{result.id}}&help=0&hl=0&qs=1&brand=0&dh=1&gt=0&hr=0&mls=2&mt=0&pin=0&play=1" target="_blank" rel="noopener">
<img src="https://my.matterport.com/api/v2/player/models/{{result.id}}/thumb/" width="100%" height="auto">
</a>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
</div> 

{% include 'paginate.njk'%}