<div class="row">
{% if pagination.previousPageHref %}
  <div class="col"><a href="{{pagination.previousPageHref}}">Previous Page</a></div>
{% endif %}
{% if pagination.nextPageHref %}
  <div class="col"><a href="{{pagination.nextPageHref}}">Next Page</a></div>
{% endif %}
</div>