{% if '/featured' in page.url %} 
{% set onfeatured = true %}
{% else %}
{% set onfeatured = false %}
{% endif %}

<div class="row center-xs">
<div class="row col-lg-4 toggle">

<div class="col-xs-6">
 {% if onfeatured == true %} <a href="/">{% endif %}
    All ({{matterport.length}})
    {% if onfeatured == true %} </a>{% endif %}
</div>

{% if featured | length > 0 %} {# if there are some featured props #}

<div class="col-xs-6">
 {% if onfeatured == false %} <a href="/featured">{% endif %}
  Featured ({{ featured | length }})
  {% if onfeatured == false %} </a>{% endif %}
</div>
{% endif %}

</div>
</div>